<div class="app d-flex">
  <div class="app-container container">
    <h1 class="app__title">{{appTitle}}</h1>
    <p class="app__action">{{appSubTitle}}</p>
    <to-do-form (taskEvent)="receiveNewTask($event)"></to-do-form>
    <br />
    <p [hidden]="!taskListArray?.length > 0" class="app__action">{{taskListHeader}}</p>
    <to-do-list [taskListArray]="taskListArray"></to-do-list>
    <p [hidden]="!taskListArray?.length > 0" class="task-list-count"> {{getCompletedTask()}} of {{taskListArray.length}}
      task
      completed</p>
  </div>
</div>